a { text-decoration: none; color:black }
a:visited { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }
.homeParent {
    user-select: none;
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    z-index: 2;
  }
  .image5Icon {
    height: 100%;
    object-fit: cover;
    padding-right: 3rem;
  }
  .home {
    position: relative;
    padding-right: 2rem;
    text-decoration: none;
  }
  .history {
    position: relative;
  }
  .searchbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    color: var(--label-colors-lc-l-secondary);
  }
  .content input {
    margin-left: 4rem;
    font-size: var(--font-size-lg);
    border-radius: 4rem;
    text-indent: 1rem;
  }
  .ingredients, .instructions {
    margin: 0;
  }
  body {
    position: relative;
    border-radius: var(--br-6xl);
    background-color: var(--color-white);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: left;
    font-size: 25px;
    color: var(--color-black);
    font-family: var(--font-days-one);
    background-image: url("../assets/Recipe Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .recipeText {
    background-image: url("../assets/Rectangle 1.svg");
    border-radius: 10rem;
    position: absolute;
    height: 85.45%;
    width: 42.66%;
    top: 12.97%;
    right: 53.43%;
    bottom: 7.58%;
    left: 3.92%;
    max-width: 100%;
    overflow: scroll;
    max-height: 100%;
    padding-left: 2rem;
  }
  .recipeTitle {
    text-align: center;
    font-size: 4rem;
  }
  .bulletPt {
    margin-bottom: 1.5rem;
  }
  .instructionsList {
    margin: 10;
  }
  .image23Icon {
    position: absolute;
    height: 55%;
    width: 35%;
    top: 12.97%;
    left: 53.92%;
    object-fit: cover;
  }
  .recipePage {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: horizontal;
    width: 100vw;
    height: 100vh;
    border: black solid;
  }
  