a { text-decoration: none; color:black }
a:visited { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }
.homeParent {
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
  }
  .image5Icon {
    height: 100%;
    object-fit: cover;
    padding-right: 3rem;
  }
  .home {
    position: relative;
    padding-right: 2rem;
    text-decoration: none;
  }
  .history {
    position: relative;
  }
  .searchbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    color: var(--label-colors-lc-l-secondary);
  }
  .content input {
    margin-left: 4rem;
    font-size: var(--font-size-lg);
    border-radius: 4rem;
    text-indent: 1rem;
  }
  .pageChild {
    position: absolute;
    top: 32.72%;
    left: 7.05%;
    height: 14rem;
    width: 80rem;
    display: block;
  }
  .searchUpYour {
    user-select: none;
    font-weight: 300;
    display: inline-block;
  }
  .searchbar1 input {
    margin-top: 2rem;
    color: var(--label-colors-lc-l-secondary);
    font-family: var(--font-sf-pro-display);
    font-size: var(--font-size-lg);
    border-radius: 4rem;
    text-indent: 5rem;
    width: 100%;
    background-color: rgba(235, 235, 235, 0.939);
    border: none;
  }
  .searchbar1 button {
    position: absolute;
    margin-top: -4.2rem;
    margin-left: 0.5rem;
    font-size: 3rem;
    border-radius: 4rem;
    border: none;
    z-index: 1;
  }
  .searchbar1 button:hover {
    cursor: pointer;
  }
  .locofyHomePage {
    position: absolute;
    border-radius: var(--br-6xl);
    background-color: var(--color-white);
    box-shadow: 12px 14px 22px rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 100vh;
    left: 0;
    overflow: hidden;
    text-align: left;
    font-size: 50px;
    color: var(--color-black);
    font-family: var(--font-akshar);
    background-image: url("../assets/For Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }