:root {
  --backgrounddark: rgba(27, 15, 51, 1);
  --backgrounddefault: rgba(255, 255, 255, 1);
  --backgrounddisabled: rgba(234, 230, 240, 1);
  --backgroundtint: rgba(244, 242, 247, 1);
  --borderdark: rgba(27, 15, 51, 1);
  --borderdefault: rgba(234, 230, 240, 1);
  --borderdisabled: rgba(176, 170, 189, 1);
  --borderlight: rgba(255, 255, 255, 1);
  --default-size-body-font-family: "SFPro Text-Regular", Helvetica;
  --default-size-body-font-size: 17px;
  --default-size-body-font-style: normal;
  --default-size-body-font-weight: 400;
  --default-size-body-letter-spacing: -0.40799999237060547px;
  --default-size-body-line-height: 22px;
  --DS-label-font-family: "Poppins-SemiBold", Helvetica;
  --DS-label-font-size: 20px;
  --DS-label-font-style: normal;
  --DS-label-font-weight: 600;
  --DS-label-letter-spacing: 0px;
  --DS-label-line-height: normal;
  --DS-subtitle-font-family: "Poppins-Bold", Helvetica;
  --DS-subtitle-font-size: 39px;
  --DS-subtitle-font-style: normal;
  --DS-subtitle-font-weight: 700;
  --DS-subtitle-letter-spacing: 0px;
  --DS-subtitle-line-height: 120.00000476837158%;
  --DS-text-font-family: "Poppins-Regular", Helvetica;
  --DS-text-font-size: 15px;
  --DS-text-font-style: normal;
  --DS-text-font-weight: 400;
  --DS-text-letter-spacing: 0px;
  --DS-text-line-height: 150%;
  --DS-title-font-family: "Poppins-Bold", Helvetica;
  --DS-title-font-size: 69px;
  --DS-title-font-style: normal;
  --DS-title-font-weight: 700;
  --DS-title-letter-spacing: 0px;
  --DS-title-line-height: 120.00000476837158%;
  --icondefault: rgba(27, 15, 51, 1);
  --icondisabled: rgba(176, 170, 189, 1);
  --iconon-default: rgba(255, 255, 255, 1);
  --label-colorslc-l-primary: rgba(0, 0, 0, 1);
  --label-colorslc-l-secondary: rgba(60, 60, 67, 0.6);
  --palettecolor-1: rgba(27, 15, 51, 1);
  --palettecolor-2: rgba(88, 82, 102, 1);
  --palettecolor-3: rgba(176, 170, 189, 1);
  --palettecolor-4: rgba(234, 230, 240, 1);
  --palettecolor-5: rgba(244, 242, 247, 1);
  --palettecolor-6: rgba(255, 255, 255, 1);
  --palettecolor-7: rgba(255, 244, 184, 1);
  --shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  --system-colorssc-l-blue: rgba(10, 122, 255, 1);
  --system-materialssm-l-thick: rgba(250, 250, 250, 0.93);
  --text-1-bold-font-family: "Poppins-Bold", Helvetica;
  --text-1-bold-font-size: 31px;
  --text-1-bold-font-style: normal;
  --text-1-bold-font-weight: 700;
  --text-1-bold-letter-spacing: 0px;
  --text-1-bold-line-height: 129.99999523162842%;
  --text-2-bold-font-family: "Poppins-Bold", Helvetica;
  --text-2-bold-font-size: 25px;
  --text-2-bold-font-style: normal;
  --text-2-bold-font-weight: 700;
  --text-2-bold-letter-spacing: 0px;
  --text-2-bold-line-height: 129.99999523162842%;
  --text-3-bold-font-family: "Poppins-Bold", Helvetica;
  --text-3-bold-font-size: 18px;
  --text-3-bold-font-style: normal;
  --text-3-bold-font-weight: 700;
  --text-3-bold-letter-spacing: 0px;
  --text-3-bold-line-height: 139.9999976158142%;
  --text-3-regular-font-family: "Poppins-Medium", Helvetica;
  --text-3-regular-font-size: 18px;
  --text-3-regular-font-style: normal;
  --text-3-regular-font-weight: 500;
  --text-3-regular-letter-spacing: 0px;
  --text-3-regular-line-height: 139.9999976158142%;
  --text-4-bold-font-family: "Poppins-Bold", Helvetica;
  --text-4-bold-font-size: 16px;
  --text-4-bold-font-style: normal;
  --text-4-bold-font-weight: 700;
  --text-4-bold-letter-spacing: 0px;
  --text-4-bold-line-height: 150%;
  --text-4-regular-font-family: "Poppins-Medium", Helvetica;
  --text-4-regular-font-size: 16px;
  --text-4-regular-font-style: normal;
  --text-4-regular-font-weight: 500;
  --text-4-regular-letter-spacing: 0px;
  --text-4-regular-line-height: 150%;
  --text-5-bold-font-family: "Poppins-Bold", Helvetica;
  --text-5-bold-font-size: 14px;
  --text-5-bold-font-style: normal;
  --text-5-bold-font-weight: 700;
  --text-5-bold-letter-spacing: 0px;
  --text-5-bold-line-height: 150%;
  --text-5-regular-font-family: "Poppins-Medium", Helvetica;
  --text-5-regular-font-size: 14px;
  --text-5-regular-font-style: normal;
  --text-5-regular-font-weight: 500;
  --text-5-regular-letter-spacing: 0px;
  --text-5-regular-line-height: 150%;
  --text-5-underlined-font-family: "Poppins-Medium", Helvetica;
  --text-5-underlined-font-size: 14px;
  --text-5-underlined-font-style: normal;
  --text-5-underlined-font-weight: 500;
  --text-5-underlined-letter-spacing: 0px;
  --text-5-underlined-line-height: 150%;
  --textdefault: rgba(27, 15, 51, 1);
  --textdisabled: rgba(176, 170, 189, 1);
  --texton-default: rgba(255, 255, 255, 1);
}
